/* .chart{

    .chart-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        h2{
            margin: 16px 0px;
        }
        .category-seletor{
            width: 400px;
        }
    }
} */