.info-message-box{
    background-color: rgb(241, 241, 241);
    box-shadow: 0 0 4px gray;
    border-radius: 5px;
    position: absolute;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    p{
        margin: 0;
        padding: 20px 20px;
    }
    button{
        background-color: rgb(100, 100, 255);
        color: white;
        padding: 8px 24px;
        border-style: none;
        border-radius: 3px;
        cursor: pointer;
    }
}